.search {
  color: #fff;
  object-fit: contain;
  margin-left: 0.875rem;
  padding-top: 90px;
  display: flex;
  flex-direction: column;
}
.search__controls {
  padding: 25px;
  width: 100%;
}
.search__title {
  font-weight: 600;
  font-size: 2.5rem;
}
.search__searchContainer {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.search__input {
  width: 80%;
  padding: 10px;
  border-radius: 4px;
  outline: none;
  border: none;
  border-bottom: 1px solid #fff;
  background: #111;
  font-size: clamp(1em, 1.2rem, 1.2rem);
  color: #fff;
  margin-bottom: 10px;
}
.search__btn {
  padding: 7px 15px 7px 15px;
  font-size: 1.1rem;
  outline: none;
  border-radius: 4px;
  margin-left: 15px;
  border: 1px solid #fff;
  cursor: pointer;
  color: #fff;
  font-weight: 700;
  background: rgb(32, 58, 67);
  background: linear-gradient(
    to bottom,
    rgba(32, 58, 67, 1) 13%,
    rgba(44, 83, 100, 1) 71%
  );
  transition: 0.5s;
}
.search__btn:hover {
  transform: scale(1.05);
  transition: 0.5s;
}

.search__results {
  font-weight: 600;
  font-size: 1.8rem;
  padding: 5px;
}
